
body{
    margin: 0;
    padding: 0;
}
.App{
    text-align: center;
    font-family: sans-serif;       
    height: 70vh;
   
}
.searchtext{
    width: 400px;
    height: 40px;
    border-radius: 2px;
}
.searchbtn{
    width: 200px;
    height: 40px;
    border-radius: 2px;
    text-align: center;
}

  
.appmap {
    height: 500px;
    width: 500px;
  }